@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* *{
    margin: 0;
    padding: 0;
    color: #d9d9d9;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    /* background-color: black; */
    height: 100%;
    width: 100%;
}

.navbar{
    background: rgb(221, 12, 169);
    padding: 20px;
}

.navbar ul{
    margin: 0;
    padding: 0;
    text-align: center;
    padding-left: 6cm;
}

.navbar ul li{
    list-style: none;
    margin: 0 20px;
    display: inline;
}

.navbar ul li a{
    color: white;
    font-size: 1em;
    line-height: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    font-weight: 700;
    transition: 0.5%;
}

.navbar ul li a.active{
    background: rgb(221, 12, 169);
}

.navbar ul li:hover a{
    background: rgb(235, 63, 189);
}

.heading h1{
    font-size: 2.1rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    text-align: center;
    color:  rgb(221, 12, 169);
    margin-top: 50 px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 3px 6px 16px   rgb(235, 63, 189);
}

.search{
    position: absolute;
    top: 28%;
    left: 82%;
    height: 40px;
    border-radius: 40px;
    padding: 4px;
    background-color: rgb(231, 98, 196);
    transform: translate(-50%,-50%);
}
#textbox{
    line-height: 40px;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    width: 0;
    transition: all 0.4s;
    color: white;
}
.fa-search{
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    /* background-color: blue; */
    border-radius: 50%;
    text-align: center;
}
.search:hover #textbox{
    width: 240px;
}

/* .search:hover .fa-search{
    background-color: white; 
} */

.introduction img{
    margin-left: 18cm;
}
.introduction p{
    margin-left: 11cm;
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.2;
    margin-top: 4px;
}

.content1{
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}
.content1 .text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
}
.content1 .p{
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
}
footer{
    position: fixed;
    /* margin-bottom: 20px; */
    bottom: 0px;
    width: 100%;
    background: rgb(248 49 199);
    height: 25%;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 0px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}
.box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}
.box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}
.left .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    background: rgb(173, 149, 177);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #f12020;
}
.center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fas:hover{
    background: #f12020;
}
.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
    margin: 15px 0;
}
.right form .text{
    font-size: 1.0625rem;
    /* margin-bottom: 2px; */
    color: #656565;
}
.right form .msg{
    /* margin-top: 10px; */
}
.right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
    color: white;
}
.right form input:focus,
.right form textarea:focus{
    outline-color: #3498db;
}
.right form input{
    height: 33px;
}
.right form .btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 37px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.right form .btn button:hover{
    background: #000;
}

.bottom center{
    padding: 0px;
    font-size: 0.9375rem;
    background: #151515;
}
.bottom center span{
    color: #656565;
}
.bottom center a{
    color: #f12020;
    text-decoration: none;
}
.bottom center a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
}